---
layout: page
title: Projects
permalink: /projects/
---
<section class="post-list">
<div class="container">
{% for proj in site.data.projects %}
  {% if site.categories[proj] %}
    <h2 class="category-title">{{ proj }} </h2>
    {% assign sorted_proj = site.categories[proj] | sort: "order" | reverse%}
    {% for post in sorted_proj  %}
      <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
    {% endfor %}
  {% endif %}
{% endfor %}
</div>
</section>
